#Data Science Tools and Ecosystem

##In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. sql

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Seaborn
3. Pandas

|Data Science Tools|
|------------------|
|Vs Code|
|R Studio|
|Jupyter Notebook|

###Below are a few examples of evaluating arithmetic expressions in Python
1. add = 5 + 5
2. subtract = 5-5
3. multiply = 5*5

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
hours = 200/60
print(hours)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- List a few examples of evaluating arithmetic expressions in Python
- List a few examples of evaluating arithmetic expressions in Python

##Author
Kimberley Rutendo Malunga